.fieldLabelInstallForm {
    font-size: 12px;
  }
  
  .fieldGroupInstallForm {
    margin-bottom: 20px;
  }
  
  .fieldErrorInputInstallForm {
    font-size: 13px;
  }
  
  #secondRowInstall {
    margin-top: 6%;
  }
  
  #leftColInstallPage {
    text-align: justify;
  }
  
  .form-check-label {
    font-size: 13px;
  }
  
  .tos {
    font-size: 15px;
  }
  
  .form-heading {
    margin-top: 7px;
    margin-bottom: 21px;
  }
  
  .btn {
    border-radius: 20px;
  }
  
  .btn-disabled {
  }
  
  .btn-off {
    opacity: 0.30;
  }
  
  .btnIcon {
    margin-top: -2px;
  }
  
  #top-page {
    margin-top: 25px;
  }
  
  #logo {
    padding-left: 25px;
    padding-right: 25px;
  }
  
  #form-col {
    padding: 16px;
    border-radius: 11px;
    box-shadow: 1px 1px 3px rgba(33,37,41,0.18);
    border: 1px solid var(--bs-gray-500);
  }

  .owler-color {
    color: rgb(48, 126, 203);
  }
  